header
    #brand
        a(href=fromRoot()) #{motto || title}
    #burger
    #links 
        .link 
            a.bi.x(href="#" title="Закрыть") 
        .link 
            a.bi.file-earmark-check(href=fromRoot("/eula")) EULA
        .link 
            a.bi.image(href=fromRoot("/icons")) Иконки
        .link 
            a.bi.clock(href=fromRoot("/funny")) Часы
        .link 
            a.bi.github(href="https://github.com/yababay/vite-vanilla-tailwind-svg" target="_blank") Github
    include ../components/burger
